<div class="row">
    <section class="col-md-6">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Speed</th>
                        <th class="text-center">Last update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of latestData" (click)="showDetail(item.objectId)" id="{{item.objectId}}"
                        [ngClass]="{'selected' : (item.objectId === selectedId)}">
                        <td class="text-center">{{item.objectName}}</td>
                        <td class="text-center">{{item.speed}} km/h</td>
                        <td class="text-center">{{item.timestamp | dateConverter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <aside class="col-md-6">
        <div id="map_driver"></div>
    </aside>
</div>