@import "../../scss/variables.scss";

table {
    tbody {
        tr {
            &.selected {
                background-color: $selected-row-background-color;
            }
        }
    }
}

#map_driver {
    height: 500px;
}

.form-label {
    margin-top: 7px;
}

#secondTable {
    th {
        font-weight: 400;
    }
}